---
import Layout from '../Layouts/Layout.astro';

const { img, name } = Astro.props;

const passToUpee = () => {
  let hoola = name?.toUpperCase()[0] + name?.slice(1);
  return hoola;
};
---

<div class='w-34 border rounded-md border-borderCardColor'>
  <a href=`/pokemon/${name}`>
    <img src={img} alt={name} class='' />
  </a>
  <div class=''>
    <h1 class='text-center text-white font-bold'>{passToUpee}</h1>
  </div>
</div>
